<div class="login-container">
  <form action="#" class="form">
    <header class="login-header"><h3>Login</h3></header>
    <button class="btn btn-primary btn-google">
      <img class="google-logo" src="images/google.png" alt="google-logo" />Login
      with Google
    </button>
    <input class="input" type="email" placeholder="Email" required />
    <input class="input" type="password" placeholder="Password" required />
    <a href="#" class="forgot-password">Forgot password?</a>
    <input type="submit" class="input input-login" value="Login" />
    <a href="#" class="signup">signup now</a>
  </form>
</div>
